<header>
  <h1 class="text-color text-center mat-h1">Top Heroes</h1>
</header>
<div class="flex-container">
    <mat-card class="flex-card top-hero-card" *ngFor="let hero of heroes" (click)="openDialog(hero)">
      <mat-card-header>
        <img mat-card-avatar src="{{hero.avatarLink}}">
        <mat-card-title>{{hero.name}}</mat-card-title>
        <mat-card-subtitle>{{hero.realName}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{hero.imageLink}}">
    </mat-card>
</div>
