/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/purple-green.css";

body {
  padding: 0px;
  margin:0px;
}

.fill-remaining {
    flex: 1 1 auto;
}

.text-color {
    color: white;
}

.text-center {
    text-align: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.flex-card {
    box-sizing: border-box; 
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: 15px 0px;
}
