<br>
<div *ngIf="selectedHero">
 <h2>
   {{selectedHero.name | uppercase }} is my hero 
 </h2>
 <button (click)="gotoDetails()">View Details</button>
</div>
<div>
  <label>Hero Name: </label><input #heroName />
  <button (click)="add(heroName.value); heroName.value=''"> Add</button>
</div>
<br>
<mat-chip-list *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
  <mat-chip style="margin-top:5px; margin-bottom:5px;" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
    <span style="color: black;">{{hero.id}}:</span>
    &nbsp; {{hero.name}}
    <mat-icon matChipRemove (click)="delete(hero); $event.stopPropagation()">cancel</mat-icon>
  </mat-chip>
</mat-chip-list>
