<header>
  <h1 class="text-color text-center mat-h1">Heroes</h1>
</header>

<div class="flex-container">
  <mat-card class="hero-card flex-card" *ngFor="let hero of heroes" [class.selected]="hero === selectedHero">
    <mat-card-header>
      <img mat-card-avatar src="{{hero.avatarLink}}" alt="Photo of {{hero.name}}">
      <mat-card-title>{{hero.name}}</mat-card-title>
      <mat-card-subtitle>{{hero.realName}}</mat-card-subtitle> 
    </mat-card-header>
    <mat-card-content>
      <p>{{hero.description}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="openDialog(hero)">Details</button>
      <button class="float-right" mat-icon-button (click)="delete(hero); $event.stopPropagation()">
        <mat-icon>delete</mat-icon>
      </button>
      <button class="float-right" mat-icon-button>
        <mat-icon>edit</mat-icon> 
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<button mat-fab class="fab" (click)="showOverlay()"><mat-icon>add</mat-icon></button>
